<header>
    <div class="wrapper">
    	<h1>Hi, I'm <a href="/danhoerr.json">Dan!</a></h1>
    	<p>I'm a senior web developer (front-end mostly) for <a href="http://idfive.com/">idfive</a> with hobbies ranging from homebrewing beer to playing all manner of games. I don't like shrimp unless they're drowning in butter, but I love me a crab pickin'. One of my strongest passions is for learning new things.  </p>
  	</div>
</header>
<div role="main">
	<div class="wrapper">
		<% @categories.each_with_index do |category, index| %>
			<div class="col<%= index+1 %> <%= category.class %>">
			<h2><%=raw category.name %></h2>
				<ul>
					<% @tasks.each do |task| %>
						<% if task.category_id.to_i == category.id %>
							<li><%= task.name %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
    <div class="sites">
       <div class="wrapper">
        <h2>Some sites I've had the pleasure to work on:</h2>
        <ul class="portfolio">
          <% @portfolios.each do |portfolio| %>
          <li>
            <%= link_to(image_tag(portfolio.image), portfolio.link) %>
            <p class="details jshide"><%= portfolio.tasks %></p>
          </li>
          <% end %>
        </ul>
      </div><!-- end wrapper -->
    </div><!-- end sites -->
